target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.allure/
.idea/
.jenkins_home/
jenkins_home/
.allure/
allure-report/
allure-results/
target/
test-reports/
build/reports/
build/downloads/
webApi/

# Docker / CI files
.dockerignore
.gitignore
Dockerfile
Dockerfile.allure
Dockerfile.jenkins
Dockerfile.simple
Jenkinsfile
docker-compose
docker-compose.jenkins.yml
docker-compose.yml
run-tests.sh

# OS files
.DS_Store
Thumbs.db