# Maven / IntelliJ / Build
target/
build/
.idea/

# Allure reports
allure-results/
allure-report/
.allure/

# Docker / Jenkins
.jenkins_home/
jenkins_home/

# Системні файли
*.log
*.tmp
.DS_Store
.vscode

# Bash script
run-tests.sh

# Локальна папка
/src/test/java/local/
src/test/java/resources/*
!src/test/java/resources/

# Папки для завантаження файлів
empire/down/
empire/test-download/
src/test/resources/apk/docs.apk
empire/apk/disp/app-release.apk
empire/apk
*.apk
